{% extends "base.html"%}

{% block content %}
    
    <p class="h1 harfont">About Us</p>
    <p class="lead">My business started because we have a private garden and we had an abundant Jalapeno and Green Tomato harvest. My mom told me to make my Uncle's famous Jalapeno Jelly and ChowChow Relish. I gave the products away as gifts to friends and family. They loved them and wanted to buy them for their friends. I then started creating recipes with unique unheard of flavors.</p>
    <p class="lead">I participate in selling at local Farmer's Markets and Festivals to introduce my business and products to the public. I've created and made Taste of Texas Gift Sets for Corporations to send to their Clients for Christmas Gifts. I love to cook, and even more, I love creating products that people find unique and tasty.</p>
    <p class="lead">We produce our amazing products in a commercial kitchen space in Kaufman, TX. This keeps me within the guidelines for my Texas Food Manufacturing License. I process all my Jellies, Relish, and Salsa with the Hot Water Bath method. All vegetables come out of my private garden or from local farmers. Our private garden has increased in size to keep up with the demand, and a few years ago, we built a greenhouse so we can continue to produce vegetables all year long.</p>
    <p class="lead">We have won awards for 14 of our Jellies at the Texas State Fair and were selected by Martha Stewart and her panel of judges as a finalist in the 2014 Martha Stewart American Made Awards in the food category. Our products are made with love, quality ingredients, imagination, and the promise of amazing taste!</p>
    
{% endblock %}