{% extends 'base.html' %}

{% block content %}

    <div class="rounded-lg bg-contain bg-no-repeat p-12 text-center" style="background-image: url('{{ url_for('static', filename=image_folder+product.img_file)}}'); height: 800px;">
        <div class="border rounded-lg backdrop-blur bg-white/30 w-full md:w-1/3">
            <div class="grid grid-rows-2">
                <div class="py-10">
                    <p class="text-slate-900 text-5xl harfont">{{ product.name }}</p>
                    <p class="text-slate-900">{{ product.description }}</p>
                    <p class="text-slate-900">${{ product.price }}/jar</p>
                    <form action="{{ url_for('cart_bp.add_item_to_cart')}}", method="post">
                        <button type="submit" class="pill-button-std" name="product_id" value="{{product.id}}">Add to cart</button>
                    </form>
                </div>
                {% if product.bundles|length() > 0 %}
                <div class="py-16">
                    <p class="text-slate-900">This product can be found in the following bundles:</p>
                    <ul>
                    {% for bundle in product.bundles %}
                        <li><a href="{{ url_for('bundle_bp.bundle_view', bundle_id=bundle.id) }}" class="text-slate-700 hover:underline hover:text-slate-600">{{ bundle }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}