{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-5">
    <div class="container mb-4">
        <p class="h1 harfont">Bundles</p>
    </div>
    <div class="container">
    {% for bundle in bundles %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ bundle.name }}</h5>
                        <p class="card-text">{{ bundle.description }}</p>
                        {% for product in bundle.products %}
                            <p class="card-text">{{ product.name }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}