{% extends "base.html"%}

{% block content %}
<div class="container mx-auto py-5">
    <p class="h1 harfont">Products</p>
    <div class="container text-center">
    {% for product in products|batch(3, {'qty':0, 'price': 0.0, 'per_case': False, 'name': '', 'description': '', 'img_file': 0}) %}
        <div class="row mb-4">
            {% for item in product %}
            <div class="col-md-4">
            {% if item.img_file == 0 %}
            {% else %}
                <div class="card mx-auto shadow mb-4">
                    <img src="{{ url_for('static', filename=img_dir+item.img_file) }}" class="card-img-top" style="max-width: 100%; height: auto;"alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        {% if item.bundles %}
                            <i class="bi bi-asterisk text-primary"></i>
                        {% endif %}
                        {% if item.qty >= 1 %}
                            <form action="/cart/add" method="POST">
                                <button type="submit" class="btn btn-primary" name="product_id" value="{{item.id}}">Add to cart</button>
                            </form>
                        {% else %}
                            <div class="h6">...</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}