{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <h1>County Road Canning Administration</h1>
        <p class="lead">
            This is your help page.
        </p>
        <p>
            Welcome to the administration menu, here you can add users and products and make minor changes to your website.
        </p>
        <p>
            Lets start with adding a new product.
            First you want to click "Product" in the top menubar. 
            After you get to that screen you will see a list of all your currently added products.
            Above that list you will see a link that says "Create" if you click that, it will bring up a form 
            for you to fill in with your product information. 

            The only field that you REALLY need to do any work with is the "img_file" field. in this field you will enter your 
            product image name in the form of "assets/product_images/filename.jpg". Next we will talk about how to get those images
            to the server. 
        </p>
        <p>
            In the top menubar you will see a link titled "Images", if you click that it will take you to a page that lists
            all the product images you've uploaded to the server. To get your filename you will click on one of the images and look
            at the address bar of the browser. You will see a web address here, from this address you want to copy everything from assets back.

            I.E. 
            https://countyroadcanning.us/static/assets/product_images/raspberryjalapeno.jpeg
            start coppying from here
            "assets/product_images/raspberryjalapeno.jpeg" This is what you need for the img_file field in the products catalog. 

            To upload an image, scroll to the bottom of the page and click the button that says "Upload File", you'll be brought to another
            page where you can click "Choose File" to select the product image you want to upload. After that click save and the image will
            be available to you. 
        </p>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div class="form-group">
            {{ f.label }}<br>
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}